In [16]:
#Run imports
import pandas as pd
from pathlib import Path

In [17]:
#File paths
schools_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
students_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

# Combine the data into a single dataset  
merge_df = pd.merge(schools_df, students_df, on="school_name", how="outer")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [18]:
#Get column names
merge_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [22]:
#Total number of unique schools,Total students,Total budget,Average math score
#Average reading score,% passing math,% passing reading,% overall passing

unique_schools = merge_df["school_name"].unique()
unique_schools
total_students = merge_df["students"].sum()
total_students
total_budget = merge_df["budget"].sum()
total_budget
avg_math = merge_df["math_score"].mean()
avg_math
avg_read = merge_df["reading_score"].mean()
avg_read

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
#School name,School type,Total students,Total school budget,Per student budget
#Average math score,Average reading score,% passing math,% passing reading,% overall passing
#For each school

In [ ]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools"

top_schools=
top_schools.head()

In [ ]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_schools"

bottom_schools=
bottom_schools.head()

In [ ]:
#list the average math score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school

In [ ]:
#lists the average reading score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school