In [1]:
#Run imports
import pandas as pd
from pathlib import Path

In [2]:
#File paths
schools_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
students_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

# Combine the data into a single dataset  
merge_df = pd.merge(schools_df, students_df, on="school_name", how="outer")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [3]:
#Get column names
merge_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [4]:
#unique schools
unique_schools = merge_df["school_name"].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [5]:
#total unique
number_unique= len(unique_schools)
print(number_unique)

15

In [6]:
#total number of students
total_students = merge_df["Student ID"].count()
total_students

39170

In [7]:
#total budget
total_budget = merge_df["budget"].sum()
total_budget

82932329558

In [8]:
#avg math score
avg_math = merge_df["math_score"].mean()
avg_math

78.98537145774827

In [9]:
#avg reading score
avg_read = merge_df["reading_score"].mean()
avg_read

81.87784018381414

In [10]:
#percent passing math
pass_math = merge_df[(merge_df["math_score"]>=70)].count()["Student ID"]
pass_math
percent_passmath = (pass_math/total_students)*100
percent_passmath

74.9808526933878

In [11]:
#percent passing reading
pass_read = merge_df[(merge_df["reading_score"]>=70)].count()["Student ID"]
pass_read
percent_passread = (pass_read/total_students)*100
percent_passread

85.80546336482001

In [12]:
#percent overall passing
pass_overall = merge_df[(merge_df["math_score"]>=70) & (merge_df["reading_score"]>=70)].count()["Student ID"]
pass_overall
percent_passoverall = (pass_overall/total_students)*100
percent_passoverall

65.17232575950983

In [13]:
#District summary data frame
district_summary = pd.DataFrame({"Total number of unique schools": [number_unique],
                              "Total students": total_students,
                              "Total budget": total_budget,
                              "Average math score": avg_math,
                              "Average reading score": avg_read,
                              "Percent passing math": percent_passmath,
                              "Percent passing reading": percent_passread,
                              "Percent overall passing": percent_passoverall})
district_summary

,Total number of unique schools,Total students,Total budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#school name
#defined already in original data

In [111]:
#school type
school_types = schools_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [27]:
#total students
school_total_students = merge_df.groupby(["school_name"]).count()["Student ID"]
print(school_total_students.to_string())

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800

In [151]:
#total school budget
school_total_budget = merge_df.groupby(["school_name"]).mean()["budget"]
print(school_total_budget.to_string())

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3500779480.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_total_budget = merge_df.groupby(["school_name"]).mean()["budget"]

In [152]:
#per student budget
per_student_budget = school_total_budget / school_total_students
print(per_student_budget.to_string())

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0

In [153]:
#average math score
school_avgmath = merge_df.groupby(["school_name"]).mean()["math_score"]
print(school_avgmath.to_string())

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2617187496.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_avgmath = merge_df.groupby(["school_name"]).mean()["math_score"]

In [32]:
#average reading score
school_avgread = merge_df.groupby(["school_name"]).mean()["reading_score"]
print(school_avgread.to_string())

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\84805795.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_avgread = merge_df.groupby(["school_name"]).mean()["reading_score"]

In [91]:
school_passing_math = merge_df[merge_df['math_score'] >= 70]
school_passing_math
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [89]:
school_passing_reading = merge_df[merge_df['reading_score'] >= 70]
school_passing_reading
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [92]:
#percent passing overall
school_passoverall = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)]
school_passoverall

overall_passing_rate = school_passoverall.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [154]:
#School summary data frame
school_summary = pd.DataFrame({"School type": school_types,
                              "Total students": school_total_students,
                              "Total school budget": school_total_budget,
                              "Per student budget": per_student_budget,
                              "Average math score": school_avgmath,
                              "Average reading score": school_avgread,
                              "Percent passing math": per_school_passing_math,
                              "Percent passing reading": per_school_passing_reading,
                              "Percent overall passing": overall_passing_rate})
school_summary

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [155]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows

top_schools= school_summary.sort_values("Percent overall passing", ascending=False)
top_schools.head()

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [156]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

bottom_schools= school_summary.sort_values("Percent overall passing", ascending=True)
bottom_schools.head()

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [157]:
#sepereate data by grade
ninth_graders = merge_df[(merge_df["grade"] == "9th")]
tenth_graders = merge_df[(merge_df["grade"] == "10th")]
eleventh_graders = merge_df[(merge_df["grade"] == "11th")]
twelfth_graders = merge_df[(merge_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2521756723.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2521756723.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2521756723.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2521756723.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

In [158]:
#list the average math score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school
ninth_grader_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

In [159]:
#create dataframe with math scores by grade
math_summary = pd.DataFrame({"9th grade math score": ninth_grader_math_scores,
                              "10th grade math score": tenth_grader_math_scores,
                              "11th grade math score": eleventh_grader_math_scores,
                              "12th grade math score": twelfth_grader_math_scores})
math_summary

,9th grade math score,10th grade math score,11th grade math score,12th grade math score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [160]:
#lists the average reading score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school
ninth_grader_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

In [161]:
#create dataframe with reading scores by grade
reading_bygrade = pd.DataFrame({"9th grade math score": ninth_grader_reading_scores,
                              "10th grade math score": tenth_grader_reading_scores,
                              "11th grade math score": eleventh_grader_reading_scores,
                              "12th grade math score": twelfth_grader_reading_scores})
reading_bygrade

,9th grade math score,10th grade math score,11th grade math score,12th grade math score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [162]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [163]:
school_spending_df = school_summary.copy()

In [164]:
#Create a table that breaks down school performance based on average spending ranges
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per student budget"], spending_bins, labels=labels, include_lowest=True)
school_spending_df

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [166]:
#Use the following code to then calculate mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average math score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average reading score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent passing math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent passing reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent overall passing"]

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3971787201.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average math score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3971787201.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average reading score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3971787201.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent passing math"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3971787201.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent passing reading"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\3971787201.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent overall passing"]

In [167]:
#Use the scores above to create a DataFrame called spending_summary
spending_summary = pd.DataFrame({"Average math score": spending_math_scores,
                              "Average reading score": spending_reading_scores,
                              "Percent passing math": spending_passing_math,
                              "Percent passing reading": spending_passing_reading,
                              "Percent overall passing": overall_passing_spending})
spending_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [169]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [170]:
#Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
school_summary["School Size"] = pd.cut(school_summary["Total students"], size_bins, labels=size_labels, include_lowest=True)
school_summary

,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [171]:
#Create a DataFrame called size_summary that breaks down school performance based on school size
size_math_scores = school_summary.groupby(["School Size"]).mean()["Average math score"]
size_reading_scores = school_summary.groupby(["School Size"]).mean()["Average reading score"]
size_passing_math = school_summary.groupby(["School Size"]).mean()["Percent passing math"]
size_passing_reading = school_summary.groupby(["School Size"]).mean()["Percent passing reading"]
size_overall_passing = school_summary.groupby(["School Size"]).mean()["Percent overall passing"]

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2831952092.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_math_scores = school_summary.groupby(["School Size"]).mean()["Average math score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2831952092.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_reading_scores = school_summary.groupby(["School Size"]).mean()["Average reading score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2831952092.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_passing_math = school_summary.groupby(["School Size"]).mean()["Percent passing math"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2831952092.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_passing_reading = school_summary.groupby(["School Size"]).mean()["Percent passing reading"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\2831952092.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  size_overall_passing = school_summary.groupby(["School Size"]).mean()["Percent overall passing"]

In [172]:
size_summary = pd.DataFrame({"Average math score": size_math_scores,
                              "Average reading score": size_reading_scores,
                              "Percent passing math": size_passing_math,
                              "Percent passing reading": size_passing_reading,
                              "Percent overall passing": size_overall_passing})
size_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [173]:
#Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
#This new DataFrame should show school performance based on the "School Type".
type_math_scores = school_summary.groupby(["School type"]).mean()["Average math score"]
type_reading_scores = school_summary.groupby(["School type"]).mean()["Average reading score"]
type_passing_math = school_summary.groupby(["School type"]).mean()["Percent passing math"]
type_passing_reading = school_summary.groupby(["School type"]).mean()["Percent passing reading"]
type_overall_passing = school_summary.groupby(["School type"]).mean()["Percent overall passing"]

C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\1459438727.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_math_scores = school_summary.groupby(["School type"]).mean()["Average math score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\1459438727.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_reading_scores = school_summary.groupby(["School type"]).mean()["Average reading score"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\1459438727.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_passing_math = school_summary.groupby(["School type"]).mean()["Percent passing math"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\1459438727.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_passing_reading = school_summary.groupby(["School type"]).mean()["Percent passing reading"]
C:\Users\Sydney\AppData\Local\Temp\ipykernel_18964\1459438727.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_overall_passing = school_summary.groupby(["School type"]).mean()["Percent overall passing"]

In [174]:
type_summary = pd.DataFrame({"Average math score": type_math_scores,
                              "Average reading score": type_reading_scores,
                              "Percent passing math": type_passing_math,
                              "Percent passing reading": type_passing_reading,
                              "Percent overall passing": type_overall_passing})
type_summary

,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
School type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208