In [2]:
#Run imports
import pandas as pd
from pathlib import Path

In [3]:
#File paths
schools_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
students_path = Path("C:/Users/Sydney/Desktop/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

# Combine the data into a single dataset  
merge_df = pd.merge(schools_df, students_df, on="school_name", how="outer")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [4]:
#Get column names
merge_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [5]:
#unique schools
unique_schools = merge_df["school_name"].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [6]:
#total unique
number_unique= len(unique_schools)
print(number_unique)

15

In [7]:
#total number of students
total_students = merge_df["Student ID"].count()
total_students

39170

In [8]:
#total budget
total_budget = merge_df["budget"].sum()
total_budget

82932329558

In [9]:
#avg math score
avg_math = merge_df["math_score"].mean()
avg_math

78.98537145774827

In [10]:
#avg reading score
avg_read = merge_df["reading_score"].mean()
avg_read

81.87784018381414

In [11]:
#percent passing math
pass_math = merge_df[(merge_df["math_score"]>=70)].count()["Student ID"]
pass_math
percent_passmath = (pass_math/total_students)*100
percent_passmath

74.9808526933878

In [12]:
#percent passing reading
pass_read = merge_df[(merge_df["reading_score"]>=70)].count()["Student ID"]
pass_read
percent_passread = (pass_read/total_students)*100
percent_passread

85.80546336482001

In [13]:
#percent overall passing
pass_overall = merge_df[(merge_df["math_score"]>=70) & (merge_df["reading_score"]>=70)].count()["Student ID"]
pass_overall
percent_passoverall = (pass_overall/total_students)*100
percent_passoverall

65.17232575950983

In [15]:
#District summary data frame
district_summary = pd.DataFrame({"Total number of unique schools": [number_unique],
                              "Total students": total_students,
                              "Total budget": total_budget,
                              "Average math score": avg_math,
                              "Average reading score": avg_read,
                              "Percent passing math": percent_passmath,
                              "Percent passing reading": percent_passread,
                              "Percent overall passing": percent_passoverall})
district_summary

,Total number of unique schools,Total students,Total budget,Average math score,Average reading score,Percent passing math,Percent passing reading,Percent overall passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#school name
#defined already in original data

In [16]:
#school type
school_types = merge_df.set_index(["school_name"])["type"]

In [21]:
#total students
school_total_students = merge_df["Student ID"].count()
school_total_students

39170

In [18]:
#total school budget
school_total_budget = merge_df.groupby(["school_name"]).mean()["budget"]
school_total_budget

C:\Users\Sydney\AppData\Local\Temp\ipykernel_7588\2433643600.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_total_budget = merge_df.groupby(["school_name"]).mean()["budget"]

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [ ]:
#per student budget
per_student_budget = per_school_budget / per_school_counts
per_student_budget

In [ ]:
#average math score

In [ ]:
#average reading score

In [ ]:
#percent passing math
school_passmath = merge_df[(merge_df["math_score"] >= 70)]
school_passmath
school_percentmath = (school_passmath/school_total_students)*100
school_percentmath

In [ ]:
#percent passing reading
school_passread = merge_df[(merge_df["reading_score"] >= 70)]
school_passread
school_percentread = (school_passread/school_total_students)*100
school_percentread

In [ ]:
#percent passing overall
passing_math_and_reading = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)]

In [ ]:
#School summary data frame
school_summary = pd.DataFrame({"School name": [school_name],
                               "School type": type
                              "Total students": number_students,
                              "Total school budget": total_budget,
                              "Per student budget": student_budget
                              "Average math score": avg_math,
                              "Average reading score": avg_read,
                              "Percent passing math": percent_passmath,
                              "Percent passing reading": percent_passread,
                              "Percent overall passing": percent_passoverall})
school_summary

In [ ]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools"

top_schools= merge_df.sort_values(by:[], *, axis=1, ascending=False, ignore_index=True )
top_schools.head()

In [ ]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_schools"

bottom_schools=
bottom_schools.head()

In [ ]:
#list the average math score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school

In [ ]:
#lists the average reading score 
#for students of each grade level (9th, 10th, 11th, 12th) at each school